@import url("assets/css/partials/default.css");
@import url("assets/css/partials/global.css");



/* 01. Header */
.fixed-header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    background: #ffff;
    padding-top: 0;
    z-index: 999;
}

.hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.header-area {
    background: #fff;
    opacity: 0.95;
    box-shadow: var(--medium-shadow);
    position: relative;
    z-index: 999;
}

.top-header {
    box-shadow: inset 0px -0.5px 0px #442F8B;

}

.top-header .top-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.top-header .top-header-content .top-share-icon a {
    padding-right: 8px;
}

.top-header .top-header-content .gretings {
    display: flex;
    align-items: center;
}

.top-header .top-header-content .gretings p {
    font-weight: bold;
    font-size: 16px;
    color: var(--text-color);
    margin: 0;
}

.main-header {
    padding-top: 14px;
    transition: .3s ease;
}

.main-header .navbar {
    padding: 0;
}

.main-header .navbar .navbar-brand {
    padding-right: 20px;
}

.main-header .navbar ul li {
    padding-right: 10px;
}
.main-header .navbar ul li a{
    color: #555457 !important;
    font-weight: 700;
}
.main-header .navbar ul li.active a{
    color: var(--primary) !important;
}   
.main-header .navbar form input {
    border: none;
    color: #000000;
    border-bottom: 1px solid #442F8B;
    border-radius: 0;
    font-size: 12px;
    min-width: 300px;
}

span.search-icon {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
}

.header-right-content,
.header-right-content .icon-list {
    display: flex;
}

.header-right-content,
.header-right-content .icon-list>div {
    margin-left: 25px;
}

.header-right-content .icon-list div a img:hover {
    filter: saturate(5);
}

/* Dropdown */
.custom-dropdown {
    padding: 16px 40px 32px 40px;
    left: 15%;
    top: 90%;
}

.custom-dropdown .dropdown-title {
    font-weight: bold;
    font-size: 16px;
    color: #160E2B;
    padding: .25rem 1.5rem;
}

.custom-dropdown .dropdown-item {
    font-weight: bold;
    font-size: 16px;
    color: #555457;
    padding-bottom: 5px;
}

/* Hero section */
.hero-slider .single-slider .slider-content {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 74px 10%;
    padding-top: 90px;
    height: 400px;
    position: relative;
    z-index: 1;
}

.hero-slider .single-slider .slider-content::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 80%;
    backdrop-filter: blur(20px);
    z-index: -1;
}

/* Changing background images and color */
.hero-slider .single-slider .slider-content.s1 {
    background: url("assets/img/home/hero/aeroporto.png");
}

.hero-slider .single-slider .slider-content.s1::before {
    background-color: #442F8BD1;
}

.hero-slider .single-slider .slider-content.s2 {
    background: url("assets/img/home/hero/aeroporto.png");
}

.hero-slider .single-slider .slider-content.s2::before {
    background-color: #e9ecef;
}


.hero-slider .single-slider h6 {
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
    max-width: 360px;
}

.hero-slider .single-slider h1 {
    font-weight: bold;
    font-size: 80px;
    color: var(--white);
    max-width: 780px;
}

.hero-slider .single-slider p {
    font-weight: normal;
    font-size: 24px;
    color: var(--white);
    max-width: 785px;
}

.slider-content.s2 h6,
.slider-content.s2 h1,
.slider-content.s2 p {
    color: var(--primary);
}

/* slick arrows */
.hero-slider .slick-arrow {
    top: 45%;
    transform: translate(-50%, -50%);
}

.hero-slider .slick-arrow:before {
    font-size: 40px;
    color: #fff;
}

.hero-slider .slick-prev {
    left: 60px;
    z-index: 1;
}

.hero-slider .slick-next {
    right: 60px;
    z-index: 1;
}

/* Offers section */
.offer-section {
    padding-top: 80px;
}

.offers .offer-heading p {
    padding-top: 20px;
    max-width: 765px;
    line-height: normal;
}

/* Import from ibos */
/* case-portfolio */
.case-portfolio-section {}

/* filter nav */
.offer-product-slider {
    display: flex;
    padding-top: 60px;
    padding-bottom: 35px;
}

.offer-product-slider .item {
    margin-right: 25px;
    font-size: 16px;
    color: var(--black);
    cursor: pointer;
}

.offer-product-content .item.active-class {
    font-weight: 700;
}

/* galary */
.gallery .single-product{
    max-width: 322px;
}
.gallery .single-product h4 {
    font-weight: 800;
    font-size: 16px;
    line-height: normal;
    color: var(--black);
    padding-top: 16px;
    padding-bottom: 0px;
}

.gallery .single-product h6 {
    font-weight: bold;
    font-size: 16px;
    color: var(--black);
    line-height: normal;
}

.gallery .single-product h6 span {
    font-weight: normal;
    text-decoration: line-through
}

.gallery .single-product .discount {
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 12px;
    color: var(--primary);
    background: #FFFFFF;
    opacity: 0.9;
    padding: 2px 4px;
}

.offer-product-content .gallery .single-product-card.hide {
    display: none;
}

.offer-product-content .gallery .single-product-card.show {
    animation: animate 0.4s ease;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/* working-process-area  */
.working-process-area {
    margin-top: 120px;
    padding: 50PX 0;
    box-shadow: 0px -1px 0px rgba(68, 47, 139, 0.5),
        0px 1px 0px rgba(68, 47, 139, 0.5);
}

.single-process-item h4 {
    font-weight: 800;
    font-size: 24px;
    line-height: 140%;
    padding: 8px 0;
}

.single-process-item p {
    font-size: 16px;
    line-height: normal;
    color: #160E2B;
}




/* Footer area */
.footer-area {
    overflow: hidden;
}

.footer-wrapper .single-footer-items h3 {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.footer-wrapper .single-footer-items form label {
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #555457;
}

.footer-wrapper .single-footer-items form input {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 12px;
    max-width: 421px;
    border: 1px solid #3C42571F;
    box-shadow: 0px 1px 1px 0px #0000000A;
}

.footer-wrapper .row {
    flex-wrap: nowrap;
}

.footer-wrapper .row .col-lg-2:nth-child(2) {
    margin-left: 1rem;
}

.footer-wrapper .row .col-lg-2:nth-child(3) {
    margin-left: 5rem;
}

.single-footer-items .items li {
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    padding-bottom: 10px;
}

/* Bottom footer */
.footer-area .bottom-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-area .bottom-footer .bottom-left {
    display: flex;
    flex-wrap: wrap;
}

.footer-area .bottom-footer .bottom-left li {
    padding-right: 40px;
}

.footer-area .bottom-footer .social-share a {
    margin-left: 30px;
}

.footer-area .copyright p {
    font-size: 12px;
    color: var(--black);
}

.footer-area .copyright p {
    font-size: 12px;
    color: var(--black);
    padding: 10px 0;
}