@media screen and (max-width: 1199px) {

    /* Header */
    .main-header .navbar form {
        display: none;
    }

    /* Dropdown */
    .custom-dropdown .dropdown-title {
        font-size: 14px;
    }

    .custom-dropdown .dropdown-item {
        font-size: 14px;
    }

    .custom-dropdown {
        padding: 16px 20px 32px 20px;
        left: 10%;
        top: 90%;
    }

    /* Working process */
    .single-process-item h4 {
        font-size: 20px;
    }

    .single-process-item p {
        font-size: 14px;
    }

    /* Expolore section */
    .explore-catagory .col-lg-4 {
        max-width: inherit;
    }
    .explore-catagory .single-catagory {
        width: 290px;
        height: 290px;
    }

    /* Footer */
    .footer-wrapper .row {
        flex-wrap: wrap;
    }

    .footer-wrapper .row .col-lg-2:nth-child(2) {
        margin-left: 0;
    }

    .footer-wrapper .row .col-lg-2:nth-child(3) {
        margin-left: 0;
    }

}

@media screen and (max-width: 1024px) {
    /* Header */
    .header-right-content, .header-right-content .icon-list>div{
        padding-bottom: 15px;
    }
    .header-right-content, .header-right-content .icon-list>div {
        margin-left: 0;
        margin-right: 25px;
    }
    /* storecard-section */
    .section-heading h2 {
        font-size: 36px;
    }
    .storecard-heading p {
        font-size: 20px;
    }
    .extra-process li {
        font-size: 20px;
    }
    /* working-process-area */
    .single-process-item p {
        font-size: 13px;
    }

    /* Footer */
    .footer-area {
        overflow: visible;
    }
}

@media screen and (max-width: 991px) {
    li a {
        font-size: 14px;
    }


        /* Expolore section */
        .explore-catagory .col-lg-4 {
            max-width: inherit;
        }
        .explore-catagory .single-catagory {
            width: 320px;
            height: 320px;
            margin-bottom: 40px;
        }

    /* Footer */
    .single-footer-items {
        padding-bottom: 30px;
    }

    .footer-area .bottom-footer {
        padding-top: 10px;
    }

    .footer-wrapper .row {
        justify-content: space-between;
    }

    .footer-area .bottom-footer .social-share a {
        margin-left: 0;
        margin-right: 15px;
    }

    .footer-area .bottom-footer .social-share a img {
        max-width: 30px;
    }
}

@media screen and (max-width: 769px) {
    /* hero-slider */
    .hero-slider .slick-prev {
        left: 30px;
    }
    .hero-slider .slick-next {
        right: 30px;
    }
    .hero-slider .single-slider h6 {
        font-size: 14px;
    }
    .hero-slider .single-slider h1 {
        font-size: 50px;
        line-height: normal;
    }
    .hero-slider .single-slider p {
        font-size: 18px;
    }
    /* Section Heading */
    .section-heading h2 {
        font-size: 28px;
    }
    .section-heading p {
        font-size: 20px;
        padding-top: 0 !important;
    }
    /* storecard-section */
    .extra-process li {
        font-size: 15px;
    }
    /* working-process-area */
    .single-process-item img {
        width: 25%;
    }

    .single-process-item h4 {
        font-size: 18px;
    }

    /* Footer */
    .footer-area .bottom-footer .bottom-left li {
        padding-right: 25px;
    }

    .footer-area .bottom-footer .social-share a {
        margin-left: 10px;
        margin-right: 0;
    }

    .copyright {
        text-align: center;
    }

    /* Lojas Page */
    /* Heading */
    .lojas-heading-area .heading h1 {
        font-size: 50px;
    }
    .lojas-heading-area .heading p {
        font-size: 20px;
    }
    /* Single User */
    .user-details-section .users {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .footer-area .bottom-footer .bottom-left li {
        padding-right: 5px;
    }

    .footer-area .bottom-footer {
        justify-content: center;
    }

    .footer-area .bottom-footer .bottom-left {
        justify-content: center;
    }

    .footer-area .bottom-footer .social-share {
        padding-top: 10px;
    }

}

@media screen and (max-width: 426px) {
    /* Hero Section */
    .hero-slider .slick-arrow{
        display: none;
    }
    .hero-slider .single-slider h1 {
        font-size: 35px;
        line-height: normal;
    }
    /* offer section */
    .offer-product-slider {
        flex-wrap: wrap;
    }
    /* Card */
    .storecard-section .store-card {
        padding: 30px 30px;
    }
    .extra-process {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .extra-process li {
        font-size: 15px;
        margin-top: 10px;
    }

    /* Lojas Page */
    /* Product */
    .lojas-product .product-items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .lojas-product .product-items form .form-group {
        margin-right: 0px;
    }
    .lojas-product .product-items .showing-products .showing {
        margin-left: 0px;
    }
    .working-process-area .col-es-6 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .single-process-item img {
        width: 20%;
    }


    /* Single User */
    .service-process {
        display: flex;
        flex-wrap: wrap;
    }
    .service-process .process {
        margin: 10px 0;
    }
    .where-we-are {
        display: flex;
        flex-wrap: wrap;
    }
    .where-we-are .me {
        margin: 18px 0px;
    }
}